@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0px #1CD1B0;
}

.barra_superior{
    background-color: #1CD1B0; 
    height: 30px;
}

.nombre-pagina{
    
    background-color: #00669F;
    color: #FFFFFF;    
}

h1{
    margin-left: 1rem;
}

.container-principal{
    display: flex;
     justify-content:space-around;
     margin: 0rem 1rem 0rem 0rem;
    flex-wrap: wrap;
    gap: 0px;  
}

.container-principal img {
    width: 380px;
    /* height: 200px; */
    object-fit: cover;
    object-position: bottom;
    margin: 3rem 1rem 2rem 0rem;
}

.batman , .harley , .superman{
    display: flex;
    flex-direction: column;
}



.imgbatman{
    position: absolute;
    bottom: 95px;
    right: 960px;
    border-radius: 100%;
}

.imgharley{
    position: absolute;
    bottom: 95px;
    right: 565px;
     border-radius: 100%;
}

.imgsuperman{
    position: absolute;
    bottom: 80px;
    right: 100px;
    border-radius: 100%;
}

.caja2{
    margin: 0rem;
}

.caja3{
    position:relative;
    bottom:-60px;
    justify-items: center;
}

.caja1 img{
    width: 100%;
}

  p{
    font-size: 12px;
    padding: 2px 0px 50px 0%;
    /* margin: 0.7rem 2rem 2rem 0rem ; */
  }

.caja{
  
    width: 30%;
    margin: 1rem;
    justify-items: center;    
}

a{
    text-decoration: none;
    background-color: #00669F;
    padding: 1rem 1.5rem;
    margin: 40rem 0rem 0rem 0rem;
    text-align:  center;
    color:#F3F3F3;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    background-color: #00669F;
    flex-wrap: nowrap;
    color: #FFF9F9;
    font-size: 16px;
    /* height: 38px; */
    height: 51px;
    margin: 10rem 0px 0px 0rem;
}

 footer p{
    padding: 20px 0px 0px 1rem;
}